/* Global */
$color-one: rgb(220, 179, 28);
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Splash */
.splash {
	height: 100vh;
	position: relative;
	background-image: url("../images/10.jpeg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: $color-one;
	display: flex;
	text-align: center;
	border: 10px solid;
	.splash-inner {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: auto;
		max-width: 70%;
		cursor: pointer;
		text-decoration: none;
		color: white;
		font-size: x-large;
		h1 {
			font-style: italic;
		}
		h2 {
			text-transform: uppercase;
			font-size: 60px;
		}
	}
}
.navigation {
	position: absolute;
	display: inline;
	padding-top: 0;

	padding-left: 40%;
	text-decoration: none;
	color: white ul {
		list-style-type: none;
		display: inline;
	}
	li {
		display: inline;
		padding: 45px;
	}
	a {
		text-decoration: none;
		color: white;
		font-size: 20px;
	}
}
.btn {
	display: inline-block;
	min-width: 150px;
	margin: 24px auto 0 auto;
	padding: 16px;
	border-radius: 5%;
	font-family: white;
	color: white;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-width: 0px;
	border-style: solid;
	background-color: rgb(220, 179, 28);
}
p {
	position: relative;
	right: 80%;
	top: 80px;
	font-style: italic;
	display: inline-block;
	text-align: center;
	font-size: 35px;
}
.row {
	border: 2px solid;
	border-color: aqua;
}
/*SERVICES*/
