/* Global */
$color-one: rgb(220, 179, 28);
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Splash */
.splash {
	height: 100vh;
	position: relative;
	background-image: url("../images/10.jpeg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
    color: $color-one;
	display: flex;
	text-align: center;
    
	.splash-inner {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: auto;
		max-width: 70%;
		cursor: pointer;
		text-decoration: none;
        color: white;
	}
}
.navigation {
	position: absolute;
	display: inline;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 50%;
	list-style-type: none;
	text-decoration: none;
	color: white 

		
		
    ul {
		list-style-type: none;
		text-decoration: none;
		display: inline;
	}
	li {
		display: inline;
		padding-right: 50px;
		padding-top: 50px;
	}
	a {
		text-decoration: none;
		color: white;
		display: inline;
	}
}

.btn {
	display: inline-block;
	min-width: 150px;
	margin: 24px auto 0 auto;
	padding: 16px;

	font-family: white;
	color: white;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-width: 0px;
	border-style: solid;
	background-color: rgb(220, 179, 28);
}
.golden {
    position: absolute;
    display: inline;
    padding: top 12px 12px;
    padding-bottom: 12px;
    padding-left: 25%;
    color: $color-one;  
    background-color: rgb(220, 179, 28);
    
}